/* 001 - HTML TAGS */
.vertical-align {
    display: flex;
    align-items: center;
}

header {
    background: url("/static/APP_001_PAGEPUBLIC/img/002-home-header-bg.png");
}

/* 003 - ID TAGS */
/* 004 - MEDIA QUERIES TAGS */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    h1.fichemetier-title{
        font-size: 2rem;
    }
    img.home-fichemetier-caducee{
        width:80px; /* you can use % */
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .fichemetier-text{
        font-size: 0.8rem;
    }

}
/* Small devices (sm) (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    img.home-fichemetier-caducee{
        width:80px; /* you can use % */
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .fichemetier-text{
        font-size: 0.9rem;
    }
}
/* Medium devices (md) (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    img.home-fichemetier-caducee{
        width:150px; /* you can use % */
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .fichemetier-text{
        font-size: 0.9rem;
    }
}
/* Large devices (lg) (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    img.home-fichemetier-caducee{
        width:150px; /* you can use % */
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .fichemetier-text{
        font-size: 0.9rem;
    }
}
/* Extra large devices (xl) (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    img.home-fichemetier-caducee{
        width:150px; /* you can use % */
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .fichemetier-text{
        font-size: 0.9rem;
    }
}
