/* CSS */
.home-font-neucha{
    font-family: 'Neucha', cursive;
}

.home-font-montserrat, .home-monparcours-table{
    font-family: 'Montserrat', sans-serif;
}
/* 002_home_header */
a.link-color, a.link-color:link, a.link-color:visited {
  color: #000000;
}
header {
    background: url("/static/APP_001_PAGEPUBLIC/img/002-home-header-bg.png");
}
.home-header-icon{
    display:block;
    font-size: 0.9rem;
}
img.home-header-logo{
    height:110px;
    width:110px;
}
/* 003_home_navbar */
/* AUTOGENERATE CSS NAVBAR */
.navbar {
  background-color: #ffe6b3;
  padding-bottom: 0;
  padding-top: 0;
}
.navbar .navbar-brand {
  color: #000000;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ffa393;
}
.navbar .navbar-text {
  color: #000000;
}
.navbar .navbar-text a {
  color: #ffa393;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #ffa393;
}
.navbar .navbar-nav .nav-link {
  color: #000000;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ffa393;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #ffa393;
  background-color: #ffe6b3;
}
.navbar .navbar-toggle {
  border-color: #ffe6b3;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #ffe6b3;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #000000;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #000000;
}
.navbar .navbar-link {
  color: #000000;
}
.navbar .navbar-link:hover {
  color: #ffa393;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #000000;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #ffa393;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #ffa393;
  background-color: #ffe6b3;
}
.navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #000000;
}
.navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #ffa393;
}
.navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #ffa393;
  background-color: #ffe6b3;
}
/* AUTOGENERATE CSS NAVBAR */
/* 004_home_fichemetier */
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.vertical-align {
    display: flex;
    align-items: center;
}
/* 005_home_carddeck */
ul{
    margin-bottom: 0!important;
}
.card-body{
    padding:15px;
}
.card-footer{
    background-color: #ffe6b3;
    padding:0;
}
.button {
    background-color: #ffe6b3;
    color: #ffa393;
    display: block;
    width: 100%;
}
/* 007_home_cabinet*/
.carousel {
    border-radius: 30px 30px 30px 30px;
    overflow: hidden;
}
a.home-cabinet-link, a.home-cabinet-link:link, a.home-cabinet-link:visited {
  color: #000000;
}
#map {
  width: 100%;
  height: 350px;
  background-color: grey;
}
.home-cabinet-map {
    border-style: double;
}

/* 009-home-footer*/
footer{
    background-color:#ffe6b3;
    color: #000000;
    font-size: 0.8rem;
}
a.home-footer-link, a.home-footer-link:link, a.home-footer-link:visited {
  color: #000000;
  font-size: 0.8rem;
}


/* MEDIA QUERIES TAGS */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* 002_home_header */
    .home-header-name{
        font-size: 2rem;
    }
    /* 003_home_navbar */
    nav, .dropdown-item{
        font-size: 0.8rem;
    }

    /* 004_home_fichemetier */
    h1.fichemetier-title{
        font-size: 2rem;
    }
    img.home-fichemetier-caducee{
        width:80px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .home-fichemetier-text, .home-monparcours-texte, .home-cabinet-text{
        font-size: 0.8rem;
    }
    /* 006_home_monparcours*/
    img.home-monparcours-photo{
        width:200px; /* you can use % */
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .home-monparcours-table{
        font-size: 0.7rem;
    }


}
/* Small devices (sm) (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* 003_home_navbar */
    /* AUTOGENERATE CSS NAVBAR */
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #000000;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ffa393;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ffa393;
      background-color: #ffe6b3;
    }
    /* AUTOGENERATE CSS NAVBAR */
    nav, .dropdown-item{
        font-size: 0.8rem;
    }
    /* 004_home_fichemetier */
    img.home-fichemetier-caducee{
        width:80px; /* you can use % */
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .home-fichemetier-text, .home-monparcours-texte, .home-cabinet-text{
        font-size: 0.9rem;
    }
    /* 005_home_carddeck */
    .card-title{
        font-size: 0.8rem;
    }
    .card-subtitle{
        display: none;
    }
    ul.card-actes{
        display: none;
    }
    .button{
        font-size: 0.8rem;
    }
    /* 006_home_monparcours*/
    img.home-monparcours-photo{
        width:200px; /* you can use % */
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .home-monparcours-table{
        font-size: 0.8rem;
    }
}
/* Medium devices (md) (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* 003_home_navbar */
    /* AUTOGENERATE CSS NAVBAR */
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #000000;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ffa393;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ffa393;
      background-color: #ffe6b3;
    }
    /* AUTOGENERATE CSS NAVBAR */
    nav, .dropdown-item{
        font-size: 0.8rem;
    }
    /* 004_home_fichemetier */
    img.home-fichemetier-caducee{
        width:150px; /* you can use % */
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .home-fichemetier-text, .home-monparcours-texte, .home-cabinet-text{
        font-size: 0.9rem;
    }
    /* 005_home_carddeck */
    .card-title{
        font-size: 0.95rem;
    }
    .card-subtitle{
        font-size: 0.8rem;
    }
    ul.card-actes{
        display: none;
    }
    .button{
        font-size: 0.8rem;
    }
    /* 006_home_monparcours*/
    img.home-monparcours-photo{
        width:250px; /* you can use % */
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .home-monparcours-table{
        font-size: 0.8rem;
    }
}
/* Large devices (lg) (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* 003_home_navbar */
    /* AUTOGENERATE CSS NAVBAR */
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #000000;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ffa393;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ffa393;
      background-color: #ffe6b3;
    }
    .nav-item{
      padding-left:15px;
      padding-right:15px;
      border-right:1px solid #000;
      line-height: 14px;
    }

    .navbar-nav>li:last-child{
       border: none;
    }
    /* AUTOGENERATE CSS NAVBAR */
    nav, .dropdown-item{
        font-size: 0.8rem;
    }
    /* 004_home_fichemetier */
    img.home-fichemetier-caducee{
        width:150px; /* you can use % */
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .home-fichemetier-text, .home-monparcours-texte, .home-cabinet-text{
        font-size: 0.9rem;
    }
    /* 005_home_carddeck */
    ul.card-actes{
        margin: 18px; /* To remove default bottom margin */
        padding: 0; /* To remove default left padding */
    }
    .home-monparcours-table{
        font-size: 0.8rem;
    }
}
/* Extra large devices (xl) (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* 003_home_navbar */
    /* AUTOGENERATE CSS NAVBAR */
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #000000;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ffa393;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ffa393;
      background-color: #ffe6b3;
    }
    /* AUTOGENERATE CSS NAVBAR */
    .nav-item{
      padding-left:15px;
      padding-right:15px;
      border-right:1px solid #000;
      line-height: 14px;
    }
    .navbar-nav>li:last-child{
       border: none;
    }
    /* 004_home_fichemetier */
    img.home-fichemetier-caducee{
        width:200px; /* you can use % */
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .home-fichemetier-text, .home-monparcours-texte, .home-cabinet-text{
        font-size: 0.9rem;
    }
    /* 005_home_carddeck */
    ul.card-actes{
        margin: 18px; /* To remove default bottom margin */
        padding: 0; /* To remove default left padding */
    }
    .home-monparcours-table{
        font-size: 0.8rem;
    }
}
