{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %} {{ block.super }} {% endblock head_title %}

{% block css %}
<link href="{% static 'APP_001_PAGEPUBLIC/css/002_home_header.css' %}" rel="stylesheet">
<link href="{% static 'APP_001_PAGEPUBLIC/css/003_home_navbar.css' %}" rel="stylesheet">
{% endblock css %}

    <body>
            {% block content %}
            <div class='container'>
                <!-- Header -->
                {% include "APP_001_PAGEPUBLIC/002_home_header.html" %}
                <!-- Navbar -->
                {% include "APP_001_PAGEPUBLIC/003_home_navbar.html" %}
            </div>
            {% endblock content %}
    </body>
