{% load staticfiles %}
<header class="home-header bg-info py-3">
    <div class="row">
        <div class="col-12 col-md-9 bg-secondary">
            <div class="row">
                <div class="col-4">
                    <a href="#">
                        <img class="home-logo" src="{% static 'APP_001_PAGEPUBLIC/img/001-home-logo.png' %}">
                    </a>
                </div>
                <div class="col-8 bg-primary">
                    <div class="row">
                        <div class="col-12">
                            <h4>Laurene Simonin</h4>
                        </div>
                        <div class="col-12">
                            <h4>Sage-Femme</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="row">
                <div class="col-12 bg-success">
                    <h4>Téléphone</h4>
                </div>
                <div class="col-12 bg-danger">
                    <h4>Rendez-vous</h4>
                </div>
            </div>
        </div>
    </div>
</header>
