{% load staticfiles %}
<header class="home-header pt-2">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-5" align='right'>
                    <a href="#">
                        <img class="home-header-logo" src="{% static 'APP_001_PAGEPUBLIC/img/001-home-logo.png' %}">
                    </a>
                </div>
                <div class="col-7 my-auto">
                    <div class="row home-font-neucha">
                        <div class="col-12">
                            <h1 class="home-header-name">Laurene Simonin</h1>
                        </div>
                        <div class="col-12">
                            <h2>Sage-Femme</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12" align="center">
            <div class="row home-font-montserrat pt-2">
                <div class="col-12 col-md-4">
                    <span class="home-header-icon">
                        <i class="material-icons">phone</i>
                        <a class="link-color" href="#">
                            <span class="align-top">06.07.70.91.99</span>
                        </a>
                    </span>
                </div>
                <div class="col-12 col-md-4" align="center">
                    <span class="home-header-icon">
                        <i class="material-icons">place</i>
                        <a class="link-color" href="#cabinet">
                            <span class="align-top">16 Rue des Marronniers, 69960 Corbas</span>
                        </a>
                    </span>
                </div>
                <div class="col-12 col-md-4" align="center">

                    <span class="home-header-icon">
                        <i class="material-icons">today</i>
                        <a class="link-color" href="#">
                            <span class="align-top">Prendre rendez-vous en ligne</span>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
