<div id="navbar nav-style">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light home-font-montserrat">
      <a class="navbar-brand" href="{% url 'page-public:page-public-home' %}">
          <i class="material-icons">home</i>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            {% for el in categorieacte %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ el.categorieacte_titre }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Les consultations prénatales</a>
                <a class="dropdown-item" href="#">L'entretien prénatal précoce</a>
                <a class="dropdown-item" href="#">Les cours de préparation à la naissance</a>
                <a class="dropdown-item" href="#">Le monitoring à domicile</a>
              </div>
            </li>
            {% endfor %}
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              A propos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#votresagefemme">Votre Sage-Femme</a>
              <a class="dropdown-item" href="#cabinet">Le Cabinet</a>
              <a class="dropdown-item" href="#">Honoraires</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Liens utiles</a>
            </div>
            </li>
        </ul>
      </div>
    </nav>
</div>
