<div id="navbar nav-style">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">
          <i class="material-icons">home</i>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pendant votre grossesse
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Les consultations prénatales</a>
                <a class="dropdown-item" href="#">L'entretien prénatal précoce</a>
                <a class="dropdown-item" href="#">Les cours de préparation à la naissance</a>
                <a class="dropdown-item" href="#">Le monitoring à domicile</a>
              </div>
            </li>

            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Après votre accouchement
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Visite à domicile</a>
              <a class="dropdown-item" href="#">La consultation post-partum</a>
              <a class="dropdown-item" href="#">Consultation postnatale</a>
              <a class="dropdown-item" href="#">Réeducation du périnée</a>
            </div>
            </li>

            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Suivi gynécologique
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">La consultation de gynécologie</a>
              <a class="dropdown-item" href="#">Choisir sa contraception</a>
            </div>
            </li>

            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              A propos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Votre Sage-Femme</a>
              <a class="dropdown-item" href="#">Le Cabinet</a>
              <a class="dropdown-item" href="#">Honoraires</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Liens utiles</a>
            </div>
            </li>
        </ul>
      </div>
    </nav>
</div>
