{% load staticfiles %}
<section class="fichemetier pt-4">
    <h1 class="fichemetier-title">Le metier de Sage-Femme</h1>
    <div class="row vertical-align">
        <div class="col-md-4 vcenter">
            <img class="home-fichemetier-caducee" src="{% static 'APP_001_PAGEPUBLIC/img/003-home-fichemetier-caducee.jpg' %}" alt='sage-femme caducée'>
        </div>
        <div class="col-md-8 vcenter">
            <p class="fichemetier-text">
                Le métier de <b>Sage-Femme</b> est défini comme <b>profession médicale</b> par le Code de la Santé publique.
                </br>
                <ul class="fichemetier-text">
                    <li>Une sage-femme est une spécialiste de la femme en <font color="#ffa393">bonne santé</font> qu’elle suit de l’adolescence
                        à la ménopause. Son domaine d’intervention s’arrête en cas de diagnostic pathologique :
                        la patiente est alors orientée vers le médecin spécialiste concerné.</li>
                    <li>Une sage-femme pratique les actes nécessaires au diagnostic, à la déclaration et la
                        surveillance de la grossesse normale. Elle participe activement au bon déroulement du
                        travail et de l’accouchement et accompagne la mère et le nouveau né dans les jours
                        qui suivent la naissance.</li>
                    <li>Une sage-femme assure également les consultations de <b>contraception</b>, de <b>suivi gynécologique</b>
                        de prévention ainsi que les consultations d'<b>interruptions volontaires de grossesse</b> par
                        voie médicamenteuse.</li>
                </ul>
            </p>
        </div>
    </div>
</section>
