{% load staticfiles %}
<section class="home-font-montserrat pt-2">
    <h2 class="home-font-neucha">Quand consulter votre Sage-Femme ?</h2>
    <div class="card-deck">
    {% for el in categorieacte %}
      <div class="card">
        <img class="card-img-top" src="{{ el.categorieacte_cardimage.url }}" alt="{{ el.slug }}">
        <div class="card-body">
          <h5 class="card-title"><b>{{ el.categorieacte_titre }}</b></h5>
          <p class="card-text card-subtitle">{{ el.categorieacte_description_card }}</p>
          <p class="card-text card-actes">
              <ul class="card-actes">
                  <li><small class="text-muted">Les consultations prénatales</small></li>
                  <li><small class="text-muted">L'entretien prénatale précoces</small></li>
                  <li><small class="text-muted">Les cours de préparation à la naissance</small></li>
                  <li><small class="text-muted">Les monitoring à domicile</small></li>
              </ul>
          </p>
        </div>
        <div class="card-footer text-center"><a href="{{ el.slug }}" class="btn button">En savoir plus</a></div>
      </div>
      {% endfor %}
    </div>
</section>
