{% load staticfiles %}
<section id="votresagefemme" class="home-monparcours home-font-montserrat pt-2">
    <h2 class="home-font-neucha">{{ praticien.praticien_presentation_titre }}</h2>
    <div class="row vertical-align">
        <div class="col-lg-8">
            {{ praticien.praticien_presentation_texte|safe }}
        </div>
        <div class="col-lg-4 mb-2">
            <img class="home-monparcours-photo rounded-circle" src="{{ praticien.praticien_image.url }}" alt="{{ praticien.slug }}">
        </div>
    </div>
    <div class="row justify-content-center mt-2">
        <div class=col-9>
            <h3 class="home-font-neucha home-monparcours-diplome" align="center">Diplôme et formations</h3>
            <table class="table table-bordered home-monparcours-table">
              <tbody>
              {% for el in praticien.formation.all %}
                <tr>
                  <td>{{ el.formation_date|date:"Y" }}</td>
                  <td>{{ el.formation_titre }}<br />
                      {% if el.formation_commentaire %}
                      <small>{{ el.formation_commentaire }}</small></td>
                      {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-center mt-2">
        <div class=col-9>
            <h3 class="home-font-neucha home-monparcours-experiences" align="center">Expériences professionnelles</h3>
            <table class="table table-bordered home-monparcours-table">
                <tbody>
                {% for el in praticien.experience.all %}
                  <tr>
                    <td>{{ el.experience_date_debut}}{% if el.experience_date_fin %}-{{ el.experience_date_fin}}{% endif %}</td>
                    <td>{{ el.experience_titre|safe }}<br />
                        {% if el.experience_commentaire %}
                        <small>{{ el.experience_commentaire }}</small></td>
                        {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
