{% load staticfiles %}
<section class="home-mon-parcours pt-2">
    <h2 class="monparcours-title">Votre Sage-Femme</h2>
    <div class="row vertical-align">
        <div class="col-lg-4 mb-2">
            <img class="home-monparcours-photo rounded-circle" src="{% static 'APP_001_PAGEPUBLIC/img/007-home-monparcours-ls.png' %}" alt='laurene-simonin-sagefemme'>
        </div>
        <div class="col-lg-8">
            <p class="monparcours-texte">
                Sage-femme libérale <font color="#ffa393">conventionnée</font>, j’accompagne mes patientes tout au long de leur vie de
                femme.</br>
                </br>
                J’ai fait le choix d’associer une activité à <font color="#ffa393">50%</font> en salle d’accouchement
                (maternité des Portes du Sud à Vénissieux) et une activité à <font color="#ffa393">50%</font> en tant que sage-femme
                libérale (Corbas).</br>
                </br>
                Ces deux aspects du métier sont complémentaires :
            </p>
            <ul class="monparcours-texte">
                <li>
                    Exercer à la l'hôpital me permet de conserver une connaissance actualisée des <b>protocoles</b>,
                    des <b>techniques d’accouchement</b> et des <b>prises en charges</b> des maternités lyonnaises.
                </li>
                <li>
                    L’activité en libérale me permet d’<b>accompagner mes patientes</b> à chaque étape de leur
                    grossesse, après leur accouchement ainsi que d’assurer leur suivi gynécologique.
                </li>
                </br>
            </ul>
            <p class="monparcours-texte">
                Cette vision globale du métier est pour moi une <font color="#ffa393">chance</font>. J’apprend un peu plus chaque jour
                afin d’être en mesure d’assurer, pour chacune de mes patientes, le meilleur accompagnement
                possible.</br>
            </p>
        </div>
    </div>
    <div class="row justify-content-center mt-2">
        <div class=col-9>
            <h3 class="monparcours-diplome" align="center">Diplôme et formations</h3>
            <table class="table table-bordered home-diplome">
              <tbody>
                <tr>
                  <td>2018</td>
                  <td>Portage et bien être du nouveau né</td>
                </tr>
                <tr>
                  <td>2018</td>
                  <td>Rééducation du périnée - Formation ADCO</td>
                </tr>
                <tr>
                  <td>2017</td>
                  <td>Réanimation du nouveau né - Formation Réseau Aurore</td>
                </tr>
                <tr>
                  <td>2016</td>
                  <td>Prise en charge de l'hémorragie de la délivrance - Formation Réseau Aurore</td>
                </tr>
                <tr>
                  <td>2015</td>
                  <td>Diplôme d’Etat de Sage-femme de la Faculté de Médecine de Lyon</br>
                      <small>Mémoire de fin d’études : L’automédication chez la Femme Enceinte - Mention très honorable</small></td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-center mt-2">
        <div class=col-9>
            <h3 class="monparcours-experiences" align="center">Expériences professionnelles</h3>
            <table class="table table-bordered home-diplome">
              <tbody>
                <tr>
                  <td>2017-Aujourd'hui</td>
                  <td>50% à la maternité des Portes du Sud / 50% Sage-femme libérale</td>
                </tr>
                <tr>
                  <td>2015-2017</td>
                  <td>Plein temps (100%) à la maternité des Portes du Sud</td>
                </tr>
                <tr>
                  <td>2012-2015</td>
                  <td>Vacations régulières d’auxiliaire de puériculture à la maternité des portes du sud à Vénissieux</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
</section>
