{% load staticfiles %}
<section id="cabinet" class="home-cabinet py-2">
    <h2 class="home-font-neucha">Le cabinet</h2>
    <div class="row vertical-align pb-4">
        <div class="col-md-5">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                {% for img in cabinet.cabinetphoto.all %}
                    <div class="carousel-item {% if forloop.first %} active {% endif %}">
                        <img class="d-block w-100" src="{{ img.cabinetphoto_photo.url }}" alt="{{ img.slug }}">
                    </div>
                {% endfor %}
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </div>
        <div class="col-md-7 p-4 home-font-montserrat home-cabinet-text">
            {{ cabinet.cabinet_description | safe }}
            <div class="row pt-4">
                <div class="col-3 text-right">
                    <p>
                        Adresse :
                    </p>
                </div>
                <div class="col-9 ml-auto">
                    <p>
                        {{ cabinet.cabinet_adresse }}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right">
                    <p>
                        Accès :
                    </p>
                </div>
                <div class="col-9 ml-auto">
                    {{ cabinet.cabinet_acces | safe }}
                </div>
            </div>
        </div>
    </div>
    {% if cabinet.cabinet_lat %}
    <div class="col-12 nopadding">
        <div class="home-cabinet-map" id="map"></div>
    </div>
    {% endif %}
</section>
{% if cabinet.cabinet_lat %}
<script>
<!-- // Initialize and add the map -->
function initMap() {
  // The location of Corbas
  var corbas = {lat: {{ cabinet.cabinet_lat }}, lng: {{ cabinet.cabinet_lng }}};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 18, center: corbas});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: corbas, map: map});
}
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQD02AjL9sXl6M3M_MD3sKJxAN4jp9GfU&callback=initMap">
</script>
{% endif %}
