{% load staticfiles %}
<section class="home-contact py-2">
    <div class="row vertical-align text-center">
        <div class="col-lg-4">
            <span class="home-header-icon">
                <font color="#ffa393"><i class="material-icons">phone</i></font>
                <a class="link-color" href="#">
                    <span class="align-top">06.07.70.91.99</span>
                </a>
            </span>
        </div>
        <div class="col-lg-4">
            <span class="home-header-icon">
                <font color="#ffa393"><i class="material-icons">alternate_email</i></font>
                <a class="link-color" href="#">
                    <span class="align-top">laurene.simonin.sagefemme@gmail.com</span>
                </a>
            </span>
        </div>
        <div class="col-lg-4">
            <span class="home-header-icon">
                <font color="#ffa393"><i class="material-icons">today</i></font>
                <a class="link-color" href="#">
                    <span class="align-top">Prendre rendez-vous en ligne</span>
                </a>
            </span>
        </div>
    </div>
</section>
