<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <title>{% block head_title %} Laurene Simonin | Sage-Femme {% endblock head_title %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Laurene Simonin, sage-femme à Corbas. Accompagnement, suivi de grossesse, préparation à la naissance, réeducation du périné.">
        <meta name="author" content="Sloutmyv">
        <link rel="icon" href="{% static 'img/home-favicon.png' %}">

        {% block css %}
        {% endblock css %}
    </head>

    <body>
        {% block content %}
        {% endblock content %}

        {% block js %}
        {% endblock js %}
    </body>
</html>
